.container {
    text-align: center;
    width: 100%;
    form {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        width: 30%;
        margin: 30px auto;
        padding: 20px;
        input {
            padding: 10px;
        }
    }
}

button {
    background-color: #008CBA;
    /* Green */
    border: none;
    color: white;
    padding: 11px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}