<header>
    <div class="container">

        <div class="upper">
            <h1>Авто сервіс</h1>
            <!-- <img src="http://infosmi.net/images/stories/articles/2013/Avto/11-2013/01/car_01.png" alt=""> -->

        </div>



        <div class="lower">
            <div class="left">
                <a [routerLink]="['/']">Головна</a>
                <a [routerLink]="['/catalog']" routerLinkActive="active">Каталог запчастин</a>
                <a [routerLink]="['/contacts']" routerLinkActive="active">Контакти</a></div>
            <div class="right">
                <a [routerLink]="['/login']" routerLinkActive="active">Користувач</a>
            </div>


        </div>
    </div>
</header>

<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>